<main>
  <section>
    <div class="header">
      <img src="../../../assets/Images/avatar.png" alt="">
      <br><br>
      <a href="">{{user.name}}</a>
      <br><br>
      <a href="" class="mail">{{user.username}}</a>
    </div>
    <div class="body">
      No Messages Here
    </div>
    <div class="footer">
      <span>You don't have any messages... Share your profile!</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="showDialog()">Share Profile</button>
    </div>
  </section>

  <div class="dialog" *ngIf="show">
    <h4>Share Profile</h4>
    <hr>
    <h3>{{user.username}}</h3>
  </div>
</main>