footer{
  background-color: #efefef;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
a{
  color: #0CC8C9;
  text-decoration: none;
}
a:focus{
  outline: none;
  border: none;
}
footer p{
  float: left;
  margin: 10px 0px 10px 50px ;
}
footer button{
  
  color: #fff;
  background-color: #10bbb3;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}
footer button:focus{
  outline: none;
  border: none;
}
