<app-public-header></app-public-header>
<main>
  <section>
    <div>
      <h4>Sarahah allows you to receive constructive feedback from your friends and co-workers
      </h4>
    </div>
    <div class="btns">
      <button (click)="login()" class="login">login</button>
      <br><br>
      <button (click)="register()" class="register">Register</button>
      <br><br>
      <button class="facebook">Login With Facebook</button>
    </div>
  </section>
</main>
<app-public-footer></app-public-footer>
